@model KinderChatServer.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kinder Chat New User</title>
</head>
<body>
    <div>
        <h2>Hello Kinder!</h2>
        <p>To register your new device, simpily return to Kinder Chat and enter the following code</p>
        <h2>@Model.ConfirmKey</h2>
    </div>
</body>
</html>

