<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://kinder-chat.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>kinder-chat.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>kinder-chat</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$kinder-chat</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:nktwsksqkw.database.windows.net,1433;Initial Catalog=kinder-chat;Integrated Security=False;User ID=commander-in-chief@nktwsksqkw;Password=&quot;.=$T;u]{95b$X@5QFT=aSQ9?K=K3YTn*d{d^yap2Rt4Lh8ayV&quot;;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:nktwsksqkw.database.windows.net,1433;Initial Catalog=kinder-chat;Integrated Security=False;User ID=commander-in-chief@nktwsksqkw;Password=&quot;.=$T;u]{95b$X@5QFT=aSQ9?K=K3YTn*d{d^yap2Rt4Lh8ayV&quot;;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="KinderChatServer.DAL.ApplicationDbContext, KinderChatServer" MigrationConfiguration="KinderChatServer.Migrations.Configuration, KinderChatServer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nktwsksqkw.database.windows.net,1433;Initial Catalog=kinder-chat;Integrated Security=False;User ID=commander-in-chief@nktwsksqkw;Password=".=$T;u]{95b$X@5QFT=aSQ9?K=K3YTn*d{d^yap2Rt4Lh8ayV";MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>